@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This action is avaible only for mechanic. Please contact us if you need anything CarRepairShop383685@yandex.com</p>
</header>
